#messageArea {
    position: fixed;
    top: 25px;
    left: 10px;
    padding: 10px;
    color: rgba(41, 64, 210, 0.89);
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(87, 108, 234, 0.89);
}


#placeWithWriteLocation{
    position: fixed;
    width: 330px;
    margin-top: 180px;
    padding: 10px;
    border-radius: 6px;
    background: radial-gradient(ellipse at center, rgba(232,232,232,0.27) 0%, rgba(232,232,232,1) 0%, rgba(232,232,232,0.17) 9%, rgba(232,232,232,0.47) 49%, rgba(255,255,255,0.73) 83%, rgba(255,255,255,0.84) 98%);
}


form{

    text-align: center;
}

form input{
    background: radial-gradient(ellipse at center, rgba(232,232,232,1) 0%, rgba(232,232,232,0.27) 0%, rgba(232,232,232,0.25) 11%, rgba(159,168,224,0.17) 45%, rgba(41,64,210,0.84) 100%);
    border-color:  rgba(147, 206, 222, 0.8);
    border-radius: 6px;
    height: 40px;
}

#guessInput{
    width: 120px;
    font-size: 13px;
    height: 25px;
}

#fireButton{
    width: 70px;
    font-size: 16px;
    height: 25px;
}


#changeType{
    font-size: 19px;
    padding: 15px;
    color: rgba(41, 64, 210, 0.89);
    font-weight: bold;
}


.switch {
    position: relative;
    float: right;
    display: block;
    width: 40px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgba(41, 64, 210, 0.89);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(41, 64, 210, 0.89);
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



















