#messageArea {
    position: fixed;
    top: 25px;
    left: 10px;
    padding: 10px;
    color: rgba(41, 64, 210, 0.89);
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(87, 108, 234, 0.89);
    width: 340px;
}


.placeWithWriteLocation{
    position: fixed;
    width: 330px;
    margin-top: 180px;
    padding: 13px;
    border-radius: 6px;
    background: radial-gradient(circle, rgba(255,255,255,0) 25%, rgba(231,234,237,1) 93%);
}


form{
    text-align: center;
}

form input{
    background: radial-gradient(ellipse at center, rgba(232,232,232,1) 0%, rgba(232,232,232,0.27) 0%, rgba(232,232,232,0.25) 11%, rgba(159,168,224,0.17) 45%, rgba(41,64,210,0.84) 100%);
    border-color:  rgba(147, 206, 222, 0.8);
    border-radius: 6px;
    height: 40px;
    padding: 6px;
}

#guessInput{
    font-size: 18px;
    text-align: center;
    width: 120px;
    box-shadow: 0px 3px 5px 0px rgb(88, 96, 135), 0px 3px 6px rgba(0, 0, 0, 0.9);
    opacity: 0.8;
    transition: 0.2s;
    transform: rotateX(20deg);
}

#guessInput:hover{
    opacity: 1;
    transform: rotateX(10deg);
}

#guessInput:active{
    box-shadow: 0px 3px 5px 0px rgb(88, 96, 135), 0px 3px 6px rgba(0, 0, 0, 0.9);
    position: relative;
}

::placeholder {
    color: #262626;
    text-align: center;
    font-size: 12px;
}


#fireButton{
    width: 70px;
    font-size: 16px;
    height: 35px;
    text-align: center;
    opacity: 0.8;
    transition: 0.2s;
    transform: rotateX(20deg);
    box-shadow: 0px 3px 5px 0px rgb(88, 96, 135), 0px 3px 6px rgba(0, 0, 0, 0.9);
}

#fireButton:hover {
    opacity: 1;
    transform: rotateX(10deg);
    cursor: pointer;
}

#fireButton:active {
    box-shadow: 0px 3px 5px 0px rgb(88, 96, 135), 0px 3px 6px rgba(0, 0, 0, 0.9);
    position: relative;
    top: 3px;
    cursor: pointer;
}


#changeType{
    font-size: 19px;
    padding: 15px;
    margin-top: 15px;
    color: rgba(41, 64, 210, 0.89);
    font-weight: bold;
}


.switch {
    position: relative;
    float: right;
    display: block;
    width: 40px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgba(41, 64, 210, 0.89);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(41, 64, 210, 0.89);
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



















